<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="css/app.css"/>
  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
    </header>
    <section id="chartsContainer"></section>
    <section id="chartsCanvas"></section>
    {{{body}}}


    {{{block "pageScripts"}}}
    <footer></footer>
    {{> scripts}}
  </body>
</html>
