<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="css/normalize.css"/>
    <link type="text/css" rel="stylesheet" href="css/app.css"/>
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <script data-main="js/config/main" src="js/libs/requirejs/require.js"></script>
  </head>
  <body>
    <a href="https://github.com/stefanjudis/travalizit-app"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <section id="sidebar">
      <h1>{{title}}</h1>
      <button id="addBtn">Add Chart!</button>
      <button id="sizeBtn" class="fontawesome-chevron-left">Toggle Size, Dude!</button>
      <div id="chartSelectMenu"></div>
      <ul id="chartsContainer">
      </ul>
    </section>
    <section id="chartsCanvas"></section>
    {{{body}}}


    {{{block "pageScripts"}}}
    <footer></footer>
    {{> scripts}}
  </body>
</html>
