<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="css/app.css"/>
  </head>
  <body>
    <header>

    </header>
    {{{body}}}

    {{> scripts}}

    {{{block "pageScripts"}}}
  </body>
</html>
