<div id="chartTypes" class="animationContainer">
  <span>Which chart do you want?</span>

  <ul class="chartTypeList">
    {{#each charts}}
    <li>
      <button class="addChart fontawesome-{{this.icon}}" data-type="{{this.name}}">{{this.name}}</button>
    </li>
    {{/each}}
  </ul>
</div>
