<div id="chartParams" class="animationContainer">
  <span>Do you want to set params?</span>

  <form id="chartParamsForm">
    <ul id="chartParamsListchart">
      <input id="paramInput-type" name="paramInput-type" type="text">
      {{#each chartParams}}
      <li>
          {{input}}
      </li>
      {{/each}}
      <button>Create Chart!!!</button>
    </ul>
  </form>
</div>
