<div class="topBar">
  <h3 contenteditable="true">{{ this.name }}</h3>
  <button class="moveBtn">Move me</button>
  <button class="closeBtn fontawesome-trash">Close this Chart</button>
  <div class="searchContainer">
    <button class="searchBtn fontawesome-search">Search with a regex</button>
    <input class="searchInput" type="text" placeholder="Regex for file search">
  </div>
  <button class="changeSizeBtn">Drag me!!!</button>
  <div class="loadingContainer">
    <div class="histogram active"><ul><li><li><li><li><li><li></ul></div>
    <p>Fetching data ...</p>
  </div>
</div>
