<div id="chartTypes" class="animationContainer">
  <!-- that should be done with padding-top trickt to stay semantic clean -->
  <button class="closeButton">X</button>
  <span>Which chart do you want?</span>

  <ul class="chartTypeList">
    {{#each charts}}
    <li>
      <button class="addChart fontawesome-{{this.icon}}" data-type="{{this.type}}">{{this.name}}</button>
    </li>
    {{/each}}
  </ul>
</div>
