<div class="topBar">
  <h3 contenteditable="true">{{ this.name }}</h3>
  <button class="moveBtn" draggable="true">Move me</button>
  <button class="closeBtn fontawesome-trash">Close this Chart</button>
  <button class="changeSizeBtn" draggable="true">Drag me!!!</button>
</div>
