<div class="errorContainer">
  <p>Sorry no build data found for <span class="repoName">{{ owner }} / {{ name }}</span>.</p><p>Maybe a typo? If not, wanna fetch it?</p>
  <p><strong>! That is only possible once !</strong><br>After that please implement Travis web hook to keep data up to date at Travalizit.</p>
  <p><a class="big" href="http://4waisenkinder.de/blog/2013/06/21/help-me-analyze-travis-build-data/" target="_blank">- Instruction and information what this is about -</a></p>
  <p>If something doesn't work as expected, feel free to write me a <a href="mailto:stefanjudis@gmail.com">mail</a> or ping me on <a href="https://twitter.com/stefanjudis" target="_blank">Twitter</a>...</p>

  <button class="fetchBuildData">Fetch build data</button>
  <div class="histogram"><ul><li><li><li><li><li><li></ul></div>
</div>
