<div class="repoList">
  <h4>Included repositories</h4>
  <dl>
    {{#each repos}}

      <dt>stefanjudis/cushion-cli - {{this.repo}}</dt>
      <dd>{{this.value}}
    {{/each}}
  </dl>
  {{name}}
</div>
